html
  head
    title Error 404 - Not Found
    link(rel="stylesheet", href="/styles.css")
  body
    div.container
      h3(style='color: black;') Error 404 - Not Found 
      p(style='font-size: 18px;') #{error} 
        h3 what to do
        li check the url whether it's correct
        li if the url is correct and still getting this error it might be an internal error.
        
