extends baseEmail

block content
  p Hi #{firstName},
  p Congratulations! You have been selected by a host to manage listings.
  p As a staff member, you will be in charge of updating the listing assigned to you. You can also use your social media to invite people to the listing.
  p here is what to do next.
    li download infimuse app from app store or playstore 
    li signup as a staff 
    li use the unique identifier sent to you via this email
  p Below is a hosts' unique identifier that you will use at the time of signing up.
  p Identifier:
    li #{url}
  p incase you have any question please reach out to us.
  p Thankyou
  p - Akash Gahuri, CEO Infimuse
