extends baseEmail

block content
  p Hi #{firstName},
  p Congratulations! You have been selected by a host to manage listings.
  p As a staff member, you will be in charge of updating the listing assigned to you. You can also use your social media to invite people to the listing.
  p Here is what to do next:
    li download Infimuse app from the app store or playstore
    li signup as a staff
    li click the button below to accept the invite
  h3 the invite expires after 24 hrs
  p 
    a(href=url  style="display: inline-block; padding: 10px 20px; color: white; background-color: #28a745; text-decoration: none; border-radius: 5px;") Accept Invite
  p In case you have any questions, please reach out to us.
  p Thank you,
  p - Akash Gahuri, CEO Infimuse
