extends baseEmail

block content
    p Hi #{firstName},
    p We've recieved a request to change your password ,
    p if this was not you who requested the reset Token please ignore this message
    p NOTE: token expires in 10 mins
    p Token:
    p #{url} 
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Reset Password
    p If you need any help with booking our activities, please don't hesitate to contact us!
    p - Akash Gahuri, CEO Infimuse