extends baseEmail

block content
    p Hi #{firstName},
    p Welcome to Infimuse, Thankyou for joining Our platform as a Host🎊🥳,
    p As a host there is a variety of things you can do depending on your Subscription.
    p You can can control your listings via a mobile application,which you can get from a Playstore or app store.
    p We are a big family here and we look forward to your listing,
    
    p OTP: 
    h2   #{url}

    p Join our free communication channel where as a host you will be able to communicate with your customers through channels.
    p This is how it works ...
    p once you create any listing a channel for that listing will be created for you where you can chat with your customers,
    p Once a customer buys a ticket to the Listing an invite to join the channel will be sent as well, soon they join you can start chatting with them.
    h3 NOTE: 
    p the channel self distracts itself after 72 hrs of the listing end-date 

    p 
    p 
    p use the link below to be eligible to create channels.
    p #{channelLink} this link

    p use your email and password to login to the communication channel.
    p if by any chance you decide to create you own customer account please use a different email.
    p If you need any help with hosting any of the listings, please don't hesitate to contact us!
    p - Akash Gahuri, CEO Infimuse