extends baseEmail

block content
    p Hi #{firstName},
    p Welcome to Infimuse, Thankyou for joining Our platform as a Staff🎊🥳,
    p As a Staff once an admin signs you to a listing there are a variety of responsibilities will be assigned to you.
    p You will be able to controll listings via a mobile application,which you can get from a Playstore or app store.
    p Also you will be incharge to post,update and create a template as your host Desires.
    p once the hosts decides to appoint you as his/her staff you will get the invitation in the form of a link sent via email.
    p We are a big family here and we look forward to your listings,
    p OTP: 
    h2 #{url}
    p If you need any help with hosting any of the listings, please don't hesitate to contact us!
    p - Akash Gahuri, CEO Infimuse