extends baseEmail

block content
    p Hi #{firstName},
    p Welcome to Infimuse, Thankyou for joining Our platform 🎊🎊🥳🥳 ,
    p Proceed to our dashboard and see the variety of Activities we have and make sure to join our activities.
    p Use this OTP code for first time login only.
    p OTP: 
    h2 #{url}
    p 
    p we are a big family here,
    p join our free communication channel by clicking the link below.Use your email and password to login.Failure to which you will not be able to recieve invites to happening classes.
        p #{channelLink} this link
    p If you need any help with booking our activities, please don't hesitate to contact us!
    p - Akash Gahuri, CEO Infimuse