extends baseEmail

block content
    h3 Complete your withdrawal 
    p Hello #{firstName}!, Use the confirmation code below to complete the withdrawal process: 
    p #{url}
    p 
    p If you did not request the code ,please contact us via support@infimuse.com
    p - Akash Gahuri, CEO Infimuse